<% mytrip.comments.each do |comment| %>
  <% if comment.score >= 0.0 %>
    <div id="comment_<%= comment.id %>">
      <div class="row">
        <div class="col-xs-2">
          <span class="under"> <%= comment.user.name %> </span>
        </div>
        <div class="col-xs-6">
          <strong> <%= comment.body %> </strong>
        </div>
        <div class="col-xs-2">
          <span class="comment-date" style="vertical-align: top;"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
        </div>
        <div class="col-xs-2">
          <% if comment.user == current_user %>
          <%= link_to ' 削除 ', mytrip_comments_path(comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
