<h4><strong>国の概要</strong></h4>
<div class="box">
  <table class="table table-bordered">
    <tr>
      <th></th>
      <th>国名</th>
      <th>日本語名</th>
      <th>地帯</th>
      <th>小領域</th>
      <th>通貨</th>
      <th>緯度</th>
      <th>経度</th>
    </tr>
    <tr>
      <td><%= country.emoji_flag %></td>
      <td><%= country.name %></td>
      <td><%= country.translation(:ja) %></td>
      <td><%= country.region %></td>
      <td><%= country.subregion %></td>
      <td><%= country.currency_code %></td>
      <td><%= country.latitude %></td>
      <td><%= country.longitude %></td>
    </tr>
  </table>
</div>
