	 	<div class="col-xs-3 thumbnail trip_box" >
		 	<%= attachment_image_tag mytrip, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg", size:"243x243" %>

			<div class="caption">
	      <p>国名　<%= country[mytrip.country].translation(:ja) %> (<%= mytrip.country %>)</p>
	      <p><%= mytrip.important[0..46] %></p>
	      <%= link_to "Details",mytrip_path(mytrip.id), class: "btn btn-default" %>
			</div>
		</div>
