<video src="<%= asset_path 'magic_kingdom.mp4' %>"width="100%" height="100%"autoplay muted loop playsinline></video><br>

<div class="row">
   <div class="col-xs-10 col-xs-offset-2">

     <%= link_to "投稿ページへ", new_mytrip_path,class: "col-xs-5 btn btn-default" %><br><br><br>

			   <div class="row">
  	  				<h2>　Europe</h2>
							  <% @region_europe.first(3).each do |europe| %>
							  <%= render 'mytrips/trip', mytrip: europe %>
							  <% end %>
							  <%= link_to "もっと見る", mytrips_seedmore_path,class: "col-xs-3 btn btn-default" %>
						</div>

						<div class="row">
						  <h2>　Americas</h2>
							  <% @region_americas.each do |americas| %>
							  <%= render 'mytrips/trip', mytrip: americas %>
							  <% end %>
						</div>

						<div class="row">
						  <h2>　Africa</h2>
							  <% @region_africa.each do |africa| %>
							  <%= render 'mytrips/trip', mytrip: africa %>
						  	<% end %>
						</div>

						<div class="row">
					    <h2>　Asia</h2>
					    <% @region_asia.each do |asia| %>
						    <%= render 'mytrips/trip', mytrip: asia %>
						    <% end %>
						</div>

						<div class="row">
					     <h2>　Oceania</h2>
						     <% @region_oceania.each do |oceania| %>
						     <%= render 'mytrips/trip', mytrip: oceania %>
						     <% end %>
						 </div>
					</div>
			</div>
	 </div>
</div>
