<div class="visual">
  <div class="row"><br><br><br><br>
    <div class="col-xs-10 col-xs-offset-1" >
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
      <div id="page_top"><a href="#"></a></div>
      <div class="row">
        <div class="col-xs-6" >
          <p class="passport" ></p>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-3" >
            <div class="comment2">
              <h4><strong>投稿者情報</strong></h4>
            </div>
            <div class="box">
              <table class="table table-bordered">
                <tr>
                  <th>名前</th>
                  <th>年齢</th>
                  <th>性別</th>
                </tr>
                <tr>
                  <td><%= @mytrip.user.name %></td>
                  <td><%= @mytrip.user.age %>歳</td>
                  <td><% @mytrip.user.gender %>
                    <% if @mytrip.user.gender == true %>
                       男性
                    <% else %>
                       女性
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-xs-3" >
            <div class="show">
            </div>
          </div>
          <% if flash[:notice] %>
            <div class="col-xs-4" >
                <div class="flash">
                  <h4><strong>
                    <%= flash[:notice] %>
                  </strong></h4>
                </div>
            </div>
          <% end %>
        <div class="row">
          <div class="col-xs-9" >
            <%= render 'mytrips/country', country: @country %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6" >
            <div id="map" style="width: 490px; height: 320px;"></div>
            <script>
              handler = Gmaps.build('Google');
              handler.buildMap({ provider: {}, internal: {id: "map"}}, function(){
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(5);
              });
            </script>
          </div>
          <div class="col-xs-6" >
            <%= attachment_image_tag @mytrip, :image, :fill, 360, 260, format: 'jpeg', size:"460x320" %>
            <h4>
              <% @mytrip.tags.each do |tag| %>
                <span class="label label-default"><%= tag.name %></span>
              <% end %>
            </h4>
          </div>
           <div class="comment2">
            <h4><strong>作成日時　<%= @mytrip.created_at.strftime('%Y/%m/%d') %></strong></h4>
          </div>

            <div class="row">
               <div class="col-lg-3">
                  <div class="box1">
                     <span class="box-title">国 名</span>
                     <p><%= @country.translation(:ja) %> (<%= @mytrip.country %>)</p>
                  </div>
              </div>
              <% if @mytrip.area.present? %>
                 <div class="col-lg-3">
                   <div class="box1">
                    <span class="box-title">地 域</span>
                    <p><%= @mytrip.area %></p>
                   </div>
                </div>
              <% end %>
                 <div class="col-lg-3">
                   <div class="box1">
                    <span class="box-title">日本との時差</span>
                    <% japan = ISO3166::Country.new("JP") %>
                    <h4><%= ((@country.longitude - japan.longitude) / 15).round(2) %>時間</h4>
                   </div>
                </div>
                <div class="col-lg-3">
                  <div class="box1">
                    <span class="box-title">物 価</span>
                    <p><%= @mytrip.prices %></p>
                  </div>
                </div>
              <% if @mytrip.year.present? %>
                <div class="col-lg-3">
                   <div class="box1">
                    <span class="box-title">旅行時期</span>
                    <p><%= @mytrip.year %>年　<%= @mytrip.month %>月　<%= @mytrip.season %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.climate.present? %>
                 <div class="col-lg-3">
                   <div class="box1">
                    <span class="box-title">気 候</span>
                    <p><%= @mytrip.climate %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.security.present? %>
                 <div class="col-lg-3">
                    <div class="box1">
                    <span class="box-title">治 安</span>
                    <p><%= @mytrip.security %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.traffic.present? %>
                <div class="col-lg-3">
                  <div class="box1">
                    <span class="box-title">交 通</span>
                    <p><%= @mytrip.traffic %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.security.present? %>
                <div class="col-lg-3">
                  <div class="box1">
                    <span class="box-title">飛行時間</span>
                    <p><%= @mytrip.flight_time %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.airline.present? %>
                <div class="col-lg-3">
                  <div class="box1">
                    <span class="box-title">航空会社</span>
                    <p><%= @mytrip.airline %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.airline_comment.present? %>
                <div class="col-lg-3">
                  <div class="box1">
                    <span class="box-title">航空会社の評価</span>
                    <p><%= @mytrip.airline_comment %></p>
                  </div>
                </div>
              <% end %>
                <div class="col-lg-3">
                  <div class="box1">
                    <span class="box-title">誰と行った?</span>
                    <p><%= @mytrip.with_whom %></p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="box1">
                    <span class="box-title">日 数</span>
                    <p><%= @mytrip.days %></p>
                  </div>
                </div>
              <% if @mytrip.total_price.present? %>
               <div class="col-lg-4">
                <div class="box1">
                    <span class="box-title">総 額</span>
                    <p><%= @mytrip.total_price %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.card.present? %>
                <div class="col-lg-4">
                  <div class="box1">
                    <span class="box-title">クレジットカード</span>
                    <p><%= @mytrip.card %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.bathroom.present? %>
                <div class="col-lg-4">
                  <div class="box1">
                    <span class="box-title">トイレ事情</span>
                    <p><%= @mytrip.bathroom %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.language.present? %>
               <div class="col-lg-4">
                <div class="box1">
                    <span class="box-title">言 語</span>
                    <p><%= @mytrip.language %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.must.present? %>
               <div class="col-lg-4">
                <div class="box1">
                    <span class="box-title">行くべき場所</span>
                    <p><%= @mytrip.must %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.good_point.present? %>
                <div class="col-lg-4">
                  <div class="box1">
                    <span class="box-title">良かった点</span>
                    <p><%= @mytrip.good_point %></p>
                  </div>
                </div>
              <% end %>
              <% if @mytrip.bad_point.present? %>
                <div class="col-lg-4">
                 <div class="box1">
                    <span class="box-title">悪かった点</span>
                    <p><%= @mytrip.bad_point %></p>
                  </div>
                </div>
              <% end %>
                <div class="col-lg-4">
                 <div class="box1">
                    <span class="box-title">伝えたい点</span>
                    <p><%= @mytrip.important %></p>
                  </div>
                </div>
             </div>
          <div class="font"><br><br>
            <% if @mytrip.user == current_user %>
              <%= link_to "Edit page",edit_mytrip_path(@mytrip.id), class: "col-xs-2 btn btn-default edit_mytrip_#{@mytrip.id}" %>
              <%= link_to "Delete page",mytrip_path(@mytrip.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "col-xs-2 btn btn-default destroy_mytrip_#{@mytrip.id}" %>
            <% end %>
          </div>
          <div class="row">
            <div class="col-xs-2 col-xs-offset-10" >
              <div class="iine__button" id="mytrips_buttons_<%= @mytrip.id %>">
                <%= render 'mytrips/favorite',mytrip: @mytrip %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3" >
              <div class="show2">
              </div>
            </div>
            <div class="col-xs-8 col-xs-offset-1" >
              <div class="box2">
              <% unless @mytrip.comments.present? %>
                <p class="comment2">コメントを残してみましょう</p>
              <% end %>
                <div id="comment">
                  <br><%= render 'mytrips/comment',mytrip: @mytrip %>
                </div>
              </div>
            </div>
            <div class="col-xs-8 col-xs-offset-1" >
              <div class="font">
                <%= form_with model:[@mytrip, @comment], data: {remote: true} do |f| %>
                <%= f.text_area :body, rows:'4', class: "form-control" %>
                <%= f.submit "Submit", class: "btn btn-default pull-right" %><br><br>
                <% end %>
                <%= link_to "Posts list", mytrips_path, class: "col-xs-4 col-xs-offset-8 btn btn-default" %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

