<div class="visual">
	<div class="row">
		<div class="col-xs-11 col-xs-offset-1"><br><br><br><br><br>
			<div class="col-xs-3">
				<div class="font3">
					<h2><strong>マイページ</strong></h2>
					<table class="table table-bordered">
						<tr class="user-tr">
							<td><strong>名　前</strong></td>
							<td><strong><%= @user.name %></strong></td>
						</tr>
						<tr class="user-tr">
							<td><strong>メールアドレス</strong></td>
							<td><strong><%= @user.email %></strong></td>
						</tr>
						<tr class="user-tr">
							<td><strong>性　別</strong></td>
							<td>
	              <strong><% if @user.gender == true %>
								 男性
								<% else %>
								 女性
								</strong><% end %>
							</td>
						</tr>
							<tr class="user-tr">
								<td><strong>年　齢</strong></td>
								<td><strong><%= @user.age %>歳</strong></td>
							</tr>
						</table>
					<%= link_to "Edit page", edit_user_path(@user.id), class: "col-xs-8 col-xs-offset-2 new-btn" %>
					<%= link_to "Posts list", mytrips_path, class: "col-xs-8 col-xs-offset-2 new-btn" %>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="font2">
				  <% @user.mytrips.each do |mytrip| %>
					  <% 	country = ISO3166::Country.new(mytrip.country) %>
						<div class="col-md-4" >
							<div class= "thumbnail trip_box3" >
								<%= attachment_image_tag mytrip, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg", size:"325x325" %>
								<div class="caption">
							    <p>国名　<%= country.translation(:ja) %> (<%= mytrip.country %>)</p>
							    <p><%= mytrip.important[0..24] %></p>
							    <span class="iine__button2" id="mytrips_buttons_<%= mytrip.id %>">
						         <%= render 'mytrips/favorite',mytrip: mytrip %>
						      </span>
						　			コメント<%= mytrip.comments.count %><br><br>
						    	<%= link_to "Details",mytrip_path(mytrip.id), class: "btn btn-default" %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>