<!DOCTYPE html>
<html>
  <div class="container">
     <div class="row">
        <div class="col-xs-10">

        <head>
          <title>My Trip</title>
          <%= csrf_meta_tags %>
          <%= csp_meta_tag %>

          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
        </head>

          <body>
            <%= yield %>
          </body>
          <div class="row">
            <div class="col-xs-3 col-xs-offset-12">
              <footer>
              <p>CopyRight YuhiDomoto.inc</p>
                </footer>
              </div>
            </div>

      </div>
    </div>
  </div>
</html>
